html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    height: 100%;
    background-color: #343A40; 
}

input[type=text] {
    width: 500px;
    height: 25px;
    border-radius: 0;
    border: none;
    border-bottom: 2px #DAE0F2 solid;
    background-color: transparent;
    color: white;
}

input[type=text]:focus {
    outline: none;
}

input[type=submit] {
    background: #222529;
    color: white;
    transform: translateY(-20%);
    height: 40px;
    width: 75px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    transition: all 100ms ease-in-out;
}

input[type=submit]:hover {
    background: #313233;
    transition: all 100ms ease-in-out;
}

.center {
    display: flex;
    justify-content: center;
}

#sel-page {
    cursor: pointer;
    color: #DAE0F2;
}

#sel-page:hover {
    color: #EAF0CE;

}

#beer-list-option {
    cursor: pointer;
}

#beer-list-option:hover {
    text-decoration: none;
    color: grey;
}

#main {
    height: fit-content;
}

.text {
    color: #DAE0F2;
}

#beerdetails {
    color: white
}